<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Accueil" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Login" icon-off="ion-lock-combination" icon-on="ion-lock-combination" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Produits" icon-off="ion-ios-rose" icon-on="ion-ios-rose-outline" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>

